.App {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.order-form {
  margin-bottom: 20px;
}

.order-form input, .order-form button {
  margin: 5px;
  padding: 10px;
}

.button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-red {
  background-color: red;
}

.button-green {
  background-color: green;
}
