.App {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.kvs-background {
  height: 100vh;
  background-color: rgb(30, 30, 30);
}

.orders-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  justify-items: center;
  padding: 0 10px;
  height: 90vh;
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.order-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.order-card {
  border: 5px solid #ccc;
  border-radius: 0px;
  margin: 0.5em 0;
  width: calc(100% / 1.02); /* Adjust for the margins and padding */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-card-left {
  width: 97.5%;
  margin-left: auto;
  margin-right: 0;
  border-width: 5px 0px 5px 5px;
  border-style: solid;
  border-color: #ccc;
}

.order-card-centre {
  width: 100%;
  border-width: 5px 0px 5px 0px;
  border-style: solid;
  border-color: #ccc;
}

.order-card-right {
  width: 97.5%;
  margin-left: 0;
  margin-right: auto;
  border-width: 5px 5px 5px 0px;
  border-style: solid;
  border-color: #ccc;
}

.order-card-single {
  width: 95%
}

.order-card-left.active-card {
  border-width: 5px 0px 5px 5px;
  border-style: solid;
  border-color: orange;
}

.order-card-centre.active-card {
  border-width: 5px 0px 5px 0px;
  border-style: solid;
  border-color: orange;
}

.order-card-right.active-card {
  border-width: 5px 5px 5px 0px;
  border-style: solid;
  border-color: orange;
}

.order-card-single.active-card {
  border-width: 5px;
  border-style: solid;
  border-color: orange;
}

.order-card-left, .order-card-centre, .order-card-right {
  flex: 1;
}

.order-header {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  min-height: 39px;
}

.order-header-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.order-header-contents .order-id {
  text-align: right;
  font-weight: bold;
}

.order-header-contents .order-location {
  text-align: center;
  font-weight: bold;
}

.order-items {
  padding: 0;
  margin-top: 0;
  margin-bottom: auto;
}

.order-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-items li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  text-align: left;
  padding-left: 20px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
  min-height: 18px;
}

.order-footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order-footer p {
  margin: 5px 0;
}

.order-footer button {
  padding: 5px 10px;
}

.order-footer-text .order-status {
  text-align: left;
}

.order-footer-text .order-mfySide {
  text-align: center;
}

.order-footer-text .order-timestamp {
  text-align: right;
}

.order-actions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.order-actions button {
  margin: 0 5px;
  padding: 10px 20px;
  font-weight: 600;
}

.station-statistics {
  position: absolute;
  bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 600;
  font-size: larger;
  left: 50%;
  transform: translateX(-50%);
}

.station-status.ON {
  color: lime
}

.station-status.OFF {
  color: red
}

.serve-button {
  background-color: rgb(81, 255, 81);
}

.prev-next-button {
  background-color: yellow;
}

.on-off-button {
  background-color: rgb(255, 73, 52);
}